[submodule "web-components-demos"]
	path = web-components-demos
	url = https://github.com/alice/web-components-demos.git
[submodule "friendpurr"]
	path = friendpurr
	url = https://github.com/alice/friendpurr.git
[submodule "webcomponents-csun15"]
	path = webcomponents-csun15
	url = https://github.com/alice/webcomponents-csun15.git
